@import '~antd/dist/antd.css';

.container-full {
  min-height: 100vh;
}

.text-black {
  color: #000000;
}
.background-black {
  background-color: #000000;
}

.text-white {
  color: #ffffff !important;
}

.text-soft-blue {
  color: #424874;
}


.text-soft-grey {
  color: #9C9797;
}
.background-soft-grey {
  background-color: #fff2e500;
}

.text-align-center {
  text-align: center;
}


.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.bolder {
  font-weight: bold;
}

.title-biggest {
  font-size: 70px;
}
.title-big {
  font-size: 40px;
}
.title-medium {
  font-size: 44px;
}
.title-small {
  font-size: 32px;
}

.desc-big {
  font-size: 24px;
}
.desc-medium {
  font-size: 20px;
}






/* Media Queries */
@media screen and (max-width: 1200px){
  .title-biggest {
      font-size: 68px;
  }
  .title-big {
      font-size: 40px;
  }
  .title-medium {
      font-size: 36px;
  }
  .title-small {
      font-size: 30px;
  }
}

@media screen and (max-width: 900px){
  .title-biggest {
      font-size: 62px;
  }
  .title-big {
      font-size: 38px;
  }
  .title-medium {
      font-size: 30px;
  }
  .title-small {
      font-size: 28px;
  }
  .desc-big {
      font-size: 16px;
  }
  .desc-medium {
      font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  .title-biggest {
      font-size: 58px;
  }
  .title-big {
      font-size: 32px;
  }
  .title-medium {
      font-size: 26px;
  }
  .title-small {
      font-size: 20px;
  }
  .desc-big {
      font-size: 14px;
  }
  .desc-medium {
      font-size: 12px;
  }
}

@media screen and (max-width: 480px){
  .title-biggest {
      font-size: 50px;
  }
  .title-big {
      font-size: 30px;
  }
  .title-medium {
      font-size: 28px;
  }
  .title-small {
      font-size: 20px;
  }
}
